<div id="<%= dom_id sign %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= sign.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= sign.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Period:</strong>
    <%= sign.period %>
  </p>

</div>
